body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:url('goju.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
}

.container {
    background-color: #505c5f34;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#error-message {
    color: #f00;
    margin-top: 10px;
}

